@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="content-box" style="background-color: rgba(255, 255, 255, 0.5); padding: 20px; border-radius: 10px;">
        <p class="lead" style="font-size: 1.5em; line-height: 2; color: #232946;">
            Welcome to Taskify, where we make managing your tasks easier and more effective. We hope to make your life easier...!
        </p>
    </div>
</div>
