<div>
    <h4>Are You Sure To Delete This Task ?</h4>
    <br>
    <a href="/Task/Delete/@Model" class="btn btn-primary">Delete</a>
    <a href="/Task/Index" class="btn btn-primary">Cancel</a>

</div>