html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Salsa', cursive;

}
/* Taskbar (Navbar) */
.navbar {
    /* background-color: #232946;*/
    background-color: rgba(35, 41, 70, 0.8) !important; /* خلفية شبه شفافة للناف بار */
    padding: 10px 20px; /* زيادة المساحة داخل الناف بار */
}

/* Background for the entire page */
body {
    /*background-color: #fffffe;*/
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* لتجنب تكرار الصورة */
}

/* شكل الحاوية (المربع) الذي يحتوي على الحقول */
.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* خلفية بيضاء شفافة */
    border-radius: 15px; /* لتكون الحواف منحنية */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
    padding: 20px;
}

/* شكل الحقول */
.form-control.rounded-input {
    border-radius: 25px; /* لجعل الحقول بيضاوية */
    padding: 10px 15px;
    border: 1px solid #ced4da;
}

/* شكل الأزرار */
.custom-btn {
    background-color: #b8c1ec !important; /* اللون المطلوب للأزرار */
    border: none;
    border-radius: 25px; /* لتكون الأزرار بيضاوية */
    padding: 10px 20px;
    font-size: 16px;
    color: #fff; /* لون النص داخل الأزرار */
    transition: background-color 0.3s ease;
}

    .custom-btn:hover {
        background-color: #a1abe1 !important; /* لون الأزرار عند التمرير */
    }
